<div class="col-12">
    <div class="row">
        <div class="col-2" style="padding-right: 0px;">
            <app-menu></app-menu>
        </div>
        <div class="col-10 px-5">
            <div class="row py-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 pb-5">
                            <p class="title">Crear Publicacion</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row pt-3">
                                <div class="col-2">
                                    <label>Codigo Curso</label>
                                    <select class="form-select" name="curso" id="curso" [(ngModel)]="modelCourseCode">
                                        <option *ngFor="let item of courses" [value]="item.code">{{ item.code }}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label>Nombre Profesor</label>
                                    <input type="text" class="form-control" [(ngModel)]="modelTeacher">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    <label>Texto</label>
                                    <textarea type="text" class="form-control" style="height: 100px;" [(ngModel)]="modelText"></textarea>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    <button class="btn btn-dark" (click)="createPost()">Enviar comentario</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pb-5">
                            <p class="title">Publicaciones</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label>Filtrar por curso</label>
                            <select class="form-select" name="curso" id="curso" (change)="filterByCourseCode($event)" [(ngModel)]="modelFilterCourseCode">
                                <option *ngFor="let item of courses" [value]="item.code">{{ item.code }}</option>
                                <option>Ver todos</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="nombre_curso">Filtrar por Nombre de Curso:</label>
                            <input type="text" class="form-control" name="nombre_curso" id="nombre_curso" (input)="filterByCourseName($event)">
                        </div>
                        <div class="col-3">
                            <label for="nombre_catedratico">Filtrar por Nombre de Catedrático:</label>
                            <input type="text" class="form-control" name="nombre_catedratico" id="nombre_catedratico" (input)="filterByTeacher($event)">
                        </div>
                    </div>
                    <div class="row justify-content-center pt-5 flex-column align-items-center" *ngFor="let item of allPosts; let i = index">
                        <div class="col-6 border p-3 custom-shadow">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../../assets/user_photo.png" style="width: 40px;">
                                    <label class="ms-3 fw-bold">{{item.name}} {{item.lastname}}</label>
                                </div>
                                <div class="col-12 justify-content-center d-flex">
                                    <div class="col-12 border-bottom mt-3 px-3"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-start mb-0 sub-title mt-3">{{ item.idCourse }} - {{ item.nameCourse}}</p>
                                        <p class="text-start sub-title">{{ item.teacher }}</p>
                                    </div>
                                    <div class="col-12">
                                        <p class="mt-3" style="text-align: justify;">
                                            {{item.textPost}}
                                        </p>
                                    </div>
                                    <div class="col-12 text-end">
                                        <span class="pe-2">{{ item?.comments?.length }}</span><span>comentarios</span>
                                    </div>
                                </div>
                                <div class="col-12 justify-content-center d-flex">
                                    <div class="col-12 border-bottom mt-3 px-3"></div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-12 d-flex align-items-center justify-content-center" style="height: 35px;">
                                        <i class="fa-solid fa-comments" style="color: #004d7a; transform: scale(1.5); width: 30px;"></i>
                                        <label (click)="setOpened(item)">Ver comentarios</label>
                                        <!-- <label>No ver comentarios</label> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 border p-3 custom-shadow-comments" *ngIf="item.opened">
                            <div class="row pt-3" *ngFor="let c of item.comments; let i = index">
                                <div class="col-12">
                                    <label class="fw-bold">{{c.license_user}}</label>
                                </div>
                                <div class="col-12">
                                    <p class="my-0" style="text-align: justify;">{{c.textComment}}</p>
                                </div>
                                <div class="col-12 justify-content-center d-flex">
                                    <div class="col-12 border-bottom mt-3 px-3"></div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <input type="text" class="form-control" [value]="inputValues[i]" (input)="onInputChange($event, i)">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <button class="btn btn-dark" (click)="insertComment(item)">Enviar comentario</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>